:root{
  --blue: #01566D;
  --yellow: #EEECDD;
  --purple: #6F465D
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
  /* outline: 1px solid red; */
}

/* NOTE COMMON STYLES  */
#title{
  border-bottom: 1px solid var(--blue);
  margin-bottom: 10px;
}
#titleSkills{
  border-bottom: 1px solid var(--blue);
  margin-bottom: 10px;
}
#text{
  color: var(--purple);
  font-size: 15px;
  margin-bottom: 5px;
}
#separatorPurple{
  height: 1;
  width: 50%;
  text-align: center;
  border-bottom: 1px solid var(--purple);
}
#arrowPurple{
  width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-top: 50px solid var(--purple);
}
a, a:visited{
  text-decoration: none;
  color: var(--yellow);
  z-index: 2;
}
hr{
  margin: 0;
}

/* ANCHOR HERO CONTENT */
#hero{
  height: 75vh;
  width: 100%;
  background-image: url("/images/heroBackground3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
#hero::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 75vh;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) -50%, rgba(0, 0, 0, 1) 300%);
}
@media (max-width: 1024px){
  #hero{
    height: 75vh;
    width: 100vw;
    background-image: url("/images/heroBackground3Mobile2.jpg");
  }
  #hero::after{
    height: 75vh;
    width: 100vw;
  }
  #heroText1{
    font-size: 100px !important;
  }
  #heroText2{
    font-size: 60px !important;
  }
}
#heroText1{
  margin: 0;
  z-index: 2;
  font-size: 150px;
  color: var(--yellow);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#heroText2{
  z-index: 2;
  font-size: 90px;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--yellow);
  color: var(--yellow);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#heroText3{
  z-index: 2;
  color: var(--yellow); 
  font-size: 1.5rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#heroArrow{
  margin-top: 1rem;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 50px solid var(--yellow);
  z-index: 2;
  transition-duration: .3s;
}
#heroArrow:hover{
  cursor: pointer;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 60px solid var(--yellow);
  z-index: 2;
  transition-duration: .3s;
}

/* NOTE HEADER STYLE */
#header{
  position: sticky;
  top: 0px;
  z-index: 5;
  box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 50%);
}
#navBar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
  color: var(--yellow);
  padding-top: 15px;
}
#navProfileBox{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  padding-bottom: 15px;
}
#navProfileItems{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#navProfileImage{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0px 10px;
  border: 2px solid var(--yellow);
}
#navProfileMenu{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  cursor: pointer;
}
#navItemsBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#navItem{
  padding: 10px 0;
  position: relative;
  z-index: 2;
  transition-duration: .3s;
  display: none;
  border-top: 1px solid var(--yellow);
}
.active{
  display: block !important;
}
#navItem:hover{
  color: var(--blue);
  cursor: pointer;
}
#navItem::before{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 50%;
  background-color: var(--yellow);
  opacity: 0;
  border-radius: 5px;
}
#navItem:hover::before{
  left: 0;
  right: 0;
  z-index: -1;
  opacity: 1;
  transition-duration: .3s;
}
@media (min-width: 1024px){
  #navBar{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
  }
  #navProfileBox{
    padding: 0;
    justify-content: center;
    align-items: center;
  }
  #navItem{
    display: block;
    border: none;
    margin-left: 10px;
    border-radius: 5px;
    padding: 5px 0;
  }
  #navItemsBox{
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    margin-right: 10px;
  }
  #navProfileMenu{
    display: none;
  }
  #navProfileItems{
    font-size: 17px;
  }
  #navProfileImage{
    height: 40px;
    width: 40px;
  }
}

/* NOTE ABOUT ME CONTENT */
#aboutMeContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}
#aboutProfile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--blue);
  text-align: center;
}
#aboutProfileImage{
  height: 250px;
  transform: rotate(45deg);
  border: 5px solid var(--blue);
  margin: 70px 00;
  box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 50%);
}
#aboutSkills{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--blue);
  text-align: center;
  margin-top: 25px;
}
#subTitle{
  font-size: 11px;
}
.progress{
  height: 10px;
  width: 100%;
  margin-top: 5px;
}
#SkillProgress{
  width: 80%; 
  margin-bottom: 10px;
  font-size: .7rem;
}
.progress-bar{
  background-color: var(--blue);
  transition-duration: 2s;
}
@media (min-width: 1024px){
  #aboutMeContainer{
    margin-top: 50px;
  }
  #aboutProfileImage{
    height: 200px;
  }
  #text{
    font-size: 12px;
  }
  #titleSkills{
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  .progress{
    height: 20px;
  }
  #subTitle{
    font-size: 12px;
  }
}

/* NOTE RESUME CONTENT */
#resumeContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#resumeTitleBox{
  padding-top: 10px;
  color: var(--yellow);
  background-color: var(--blue);
  margin-bottom: 10px;
}
#resumeRow1{
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#resumeRow2{
  display: flex;
  justify-content: center;
  align-items: center;
}
#resumeBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}
.resumeTitle{
  color: var(--yellow);
  background-color: var(--blue);
  border-radius: 2px;
  text-align: center;
  width: 100%;
}
.resumeLabel{
  font-weight: bold;
  color: var(--blue);
  text-align: center;
}
.resumeSmallLabel{
  font-weight: bold;
  color: var(--blue);
  font-size: 12px;
}
.resumeUL{
  margin-top: 10px;
  font-size: 12px;
  color: var(--purple);
  text-align: center;
  list-style-type: none;
  padding: 0;
}
.resumeLI{
  margin-bottom: 10px;
}
@media (min-width: 1024px){
  #resumeTitleBox{
    margin-bottom: 40px;
  }
  #resumeRow2{
    margin-left: 20px;
  }
  #resumeRow1{
    margin: 0;
  }
  #resumeBox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-left: 1px solid var(--blue);
  }
  .resumeTitle{
    border-radius: 0px;
  }
  .resumeLabel, .resumeUL, .resumeSmallLabel{
    margin-left: 10px;
  }
  .resumeUL{
    text-align: left;
    list-style-type: square;
    padding-left: 15px;
  }
  .resumeTitle{
    width: 100%;
  }
  #resumeContainer{
    align-items: flex-start;
  }
}

/* NOTE PROJECTS CONTENT */
#projectsContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#projectBox1{
  position: relative;
  color: var(--yellow);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 500px;
  background-image: url("/images/project1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 37.5px;
}
#projectBox1::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 50%;
  height: 500px;
  width: 100%;
}
#projectBox2{
  position: relative;
  color: var(--yellow);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 500px;
  background-image: url("/images/project2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 37.5px 0;
}
#projectBox2::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 50%;
  height: 500px;
  width: 100%;
}
#projectBox3{
  position: relative;
  color: var(--yellow);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 500px;
  background-image: url("/images/project3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 37.5px 0;
}
#projectBox3::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 50%;
  height: 500px;
  width: 100%;
}
#projectTopItem1{
  width: 100%;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 3;
  display: none;
  transition: all .5s;
}
#projectBottomItem1{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 3;
  display: none;
  transition: all .5s;
}
#projectTopItem2{
  width: 100%;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 3;
  display: none;
  transition: all .5s;
}
#projectBottomItem2{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 3;
  display: none;
  transition: all .5s;
}
#projectTopItem3{
  width: 100%;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 3;
  display: none;
  transition: all .5s;
}
#projectBottomItem3{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 3;
  display: none;
  transition: all .5s;
}
#boxNumber{
  font-size: 60px;
  margin-right: 10px;
  text-shadow: 0px 0px 10px black;
}
#boxContent{
  margin-left: 15px;
  text-shadow: 0px 0px 10px black;
}
#lightButton{
  position: relative;
  border: 2px solid var(--yellow);
  height: 30px;
  width: 150px;
  font-size: 12px;
  margin-left: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 3;
}
#lightButton:hover{
  cursor: pointer;
  text-shadow: 1px 1px 1px black;
  z-index: 3;
}
#lightButton::before{
  content: "";
  transition-duration: .3s;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 50%;
  background-color: var(--yellow);
  opacity: 0;
}
#lightButton:hover::before{
  color: var(--blue);
  transition-duration: .3s;
  top: 0;
  bottom: 0;
  opacity: 1;
  z-index: -1;
}
#projectsTitleBox{
  padding-top: 10px;
  color: var(--yellow);
  background-color: var(--blue);
  margin: 50px 0;
}

/* NOTE SOFT SKILLS CONTENT */
#softSkillsContainer{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#softSkillBox{
  height: 200px;
  width: 250px;
  /* outline: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#softSkillImage{
  height: 120px;
}

/* NOTE FOOTER CONTENT */
#footerContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--yellow);
  box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 50%);
  position: relative;
  margin-top: 50px;
}
#footerPolygon{
  height: 150px;
  width: 100%;
  background-color: var(--blue);
  clip-path: polygon(0 0, 100% 0, 100% 12%, 5% 100%, 0 100%);
}
#footerBox{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footerSocials{
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
#github, #linkedin, #youtube{
  height: 45px;
  width: 45px;
  border-radius: 50%;
}
#github{
  background-image: url("/images/githubN.png");
  background-position: center;
  background-size: cover;
  margin-left: 25px;
  margin-top: 40px;  
}
#github:hover{
  background-image: url("/images/github.png");
  cursor: pointer;
}
#linkedin{
  background-image: url("/images/linkedinN.png");
  background-position: center;
  background-size: contain;
  margin-left: 10px;
  margin-top: 40px;
}
#linkedin:hover{
  background-image: url("/images/linkedin.png");
  cursor: pointer;
}
#youtube{
  background-image: url("/images/youtubeN.png");
  background-position: center;
  background-size: contain;
  margin-left: 10px;
  margin-top: 40px;
}
#youtube:hover{
  background-image: url("/images/youtube.png");
  cursor: pointer;
}
#footerRights{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#rights{
  color: var(--blue);
  font-size: 10px;
  margin-top: 0;
  margin-right: 40px;
}
#footerLogo{
  font-size: 60px;
  margin-top: 15px;
  margin-bottom: 0;
  margin-right: 40px;
  color: var(--yellow);
  text-shadow: 2px 1px 1px var(--blue);
}
#anchor{
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: var(--blue);
  font-size: 30px;
}
#anchor:hover{
  cursor: pointer;
  margin-bottom: 10px;
}
@media (min-width: 1024px){
  #footerSocials{
    justify-content: center;
  }
  #footerRights{
    width: 70%;
  }
  #github, #linkedin, #youtube{
    margin: 30px 15px;
    height: 70px;
    width: 70px;
  }
  #floatingMenu{
    position: absolute !important;
    bottom: 75px !important;
    right: 200px !important;
  }
  #anchor{
    font-size: 50px;
  }
}

/* NOTE FOOTER FLOATING MENU */
body{
  position: relative;
}
#floatingMenu{
  position: absolute;
  bottom: 90px;
  right: 19px;
  background-color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: var(--yellow);
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  z-index: 5;
  border: 4px solid var(--yellow);
}
#navItemsBoxFloat{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
  width: 200px;
  position: absolute;
  bottom: 160px;
  right: 15px;
  text-align: right;
}
#navItemFloat{
  position: relative;
  z-index: 2;
  transition-duration: .3s;
  display: none;
  border-top: 2px solid var(--yellow);
  width: 100%;
  padding: 10px 0;
  padding-right: 10px;
}
#navItemFloat:hover{
  color: var(--blue);
  cursor: pointer;
}
#navItemFloat::before{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 50%;
  background-color: var(--yellow);
  opacity: 0;
}
#navItemFloat:hover::before{
  left: 0;
  right: 0;
  z-index: -1;
  opacity: 1;
  transition-duration: .3s;
}