:root{
  --blue: #01566D;
  --yellow: #EEECDD;
  --purple: #6F465D
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
  /* outline: 1px solid red; */
}
#navBar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
  color: var(--yellow);
  padding: 15px 0;
}
#navProfileBox{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}
#navProfileImage{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 5px;
}
#navProfileMenu{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  cursor: pointer;
}
#navItemsBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#navItem{
  padding: 10px 0;
  position: relative;
  z-index: 2;
  transition-duration: .3s;
  display: none;
}
#navItem:hover{
  color: var(--blue);
  cursor: pointer;
}
#navItem::before{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 50%;
  background-color: var(--yellow);
  opacity: 0;
}
#navItem:hover::before{
  left: 0;
  right: 0;
  z-index: -1;
  opacity: 1;
  transition-duration: .3s;
}
